
@include tunic-structure-margin;
@include tunic-structure-padding-all;
@include tunic-grid('grid', 'col--');

.relative {
    position: relative;
}

$left: 480px;

.module {
    position: absolute;
    left: $left;
    right: 0;
    overflow: auto;
    top: 0;
    bottom: 0;
    background-color: grey(90);
}

.content {
    position: absolute;
    left: 0;
    width: $left;
    height: 50%;
    overflow: auto;
}

.console {
    overflow-y: auto;
    position: absolute;
    bottom: 0;
    height: 50%;
    width: $left;
    display: block;
    font-family: $font;
    background-color: grey(20);
    color: white;
    padding: 2rem;
    word-wrap: break-word;
}


.log-green {
    color: $green;
}

.log-blue {
    color: $blue;
}

.log-orange {
    color: $orange;
}

.log-red {
    color: $red;
}
