
@include tunic-structure-margin;
@include tunic-structure-padding-all;
@include tunic-grid('grid', 'col--');

.relative {
    position: relative;
}


.module {
    position: absolute;
    left: 40%;
    width: 60%;
    overflow: auto;
    background-color: grey(20);
}

.content {
    position: absolute;
    left: 0;
    width: 40%;
    overflow: auto;
}
