@import '../../node_modules/Tunic/tunic.scss';

$tunic-breakpoints:(
    large:  120rem,
    medium: 64rem,
    small:  48rem,
    tiny:   30rem
);

$blue: #6ca6ce;
$orange: #e1865a;
$red: #c55b4e;
$green: #86c797;

$hero: $blue;
$font: monospace;

@import 'base';

@import 'components/Bar';
@import 'components/Button';
@import 'components/Input';

@import 'structure';
